parameters:
	level: 8
	checkMissingIterableValueType: false
	paths:
		- src

	excludePaths:
	    analyse:
	        - ./vendor/*

	scanDirectories:
	    - ./vendor/

	ignoreErrors:
		-
			message: '#Parameter \#2 \$level of method*#'
			path: src/Handler/monologRotatingFileHandler.php