name: PHPCS

on:
  pull_request:
  merge_group:
  push:
    branches:
      - 'renovate/**'

jobs:
  phpcs:
    runs-on: ubuntu-latest
    container:
      image: ghcr.io/sgoettsch/docker-phpstan:latest-php8.1@sha256:545227d62ace300b55905be3581fe940f406e1e2ecca2c1ee4035f6b11ab8d72
    steps:
      - name: Checkout
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5

      - name: Composer
        run: composer install

      - name: PHPCS
        run: composer phpcs
