name: PHPStan

on:
  pull_request:
  merge_group:
  push:
    branches:
      - 'renovate/**'

jobs:
  phpstan:
    runs-on: ubuntu-latest
    container:
      image: ghcr.io/sgoettsch/docker-phpstan:latest-php8.1@sha256:5dcc1ba59c913213060929fdebfbd045d9bf01e260a679f77bec30c9c9a0fc19
    steps:
      - name: Checkout
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5

      - name: Composer
        run: composer install

      - name: PHPStan
        uses: docker://ghcr.io/sgoettsch/docker-phpstan:latest-php8.1@sha256:5dcc1ba59c913213060929fdebfbd045d9bf01e260a679f77bec30c9c9a0fc19
        with:
          args: analyze --error-format=table /github/workspace
